.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #my_dataviz svg {
      overflow: visible;
  }

  #buttonNext {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
  }
  
  #buttonNext:hover {
    transform: scale(1.10);
    opacity: 1;
  }

  #buttonPrev {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
  }
  
  #buttonPrev:hover {
    transform: scale(1.10);
    opacity: 1;
  }

  .button-container-home {
    position: absolute;
    top: calc(15% + 20px);
    left: calc(70% - 50px);
  }

  #buttonHome {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  #buttonHome:hover {
    transform: scale(1.10);
    opacity: 1;
  }
  
  #buttonHome:active {
    transform: scale(0.9);
  }